<div class="container">
  <div class="row" data-controller="guest">
    <div class="col-4">
      <H2><%= @event.title %></H2>
      <p>Guests list</p>
      <ul>
      <% @event.guests.each do |guest| %>
      <li>
        <%= guest.user.email %>
      </li>
      <% end %>
      </ul>
    </div>

    <div class="col-8">
        <%= render 'events/modal_guest', name: "Guest", guest: @guest, event: @event %>
      <div class="d-grup gap-2 d-md-block">
      <button class="buttonsuper">
        <%= link_to "next step", new_event_activity_path(@event) %>
        </button>
      </div>
    </div>
  </div>
</div>
