.content-wrapper {
  min-height: calc(100vh - 20px - 50px);
}

.title-wrapper {
  color: white;
  background-color: black;
  vertical-align: top;
  text-align: center;
  font-size: small;
  text-align: center;
  margin: 50px;

}

.home-video-wrapper {
  width: scale;
  height: 100%;
  object-fit: scale-down;
  top: 0;
  z-index: 0;
  margin: 10px, 10px;
}

a:hover {

  transition: 0.3s;
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}