<div class="container">
  <h1>Propositions List</h1>
   <% @propositions.each do |propositions| %>
    <div class="row">
      <div class="col-sm">
        <h2>Description</h2>
        <p><%= activity.description %></p>
      </div>
      <div class="col-sm">
        <h2>Propositions</h2>
        <p><%= activity.end %></p>
      </div>
      <div class="col-sm" >
        <h2>Vote</h2>
          <%= simple_form_for [proposition, @guest_activity] do |f| %>
            <%= f.submit "Love this"%>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
