
<div class="container">

  <div class="row" data-controller="activity">
    <div class="col-4">
      <%= render "modal_proposition", proposition:  @proposition, activity: @activity %>
    </div>

    <div id="proposition-preview" class="col-6">
      <div class="card">
      </div>
    </div>
  </div>
</div>
