<div class="bg-gray-200 p-4 shadow-sm rounded-sm">
  <article class="prose">
    <h2 class="text-2xl font-bold" data-event-target="title"><%= @event.title %></h2>
    <div data-event-target="description"><%= @event.description || 'pas de description' %>
    </div>
    <div data-event-target="start"><%= @event.start || 'pas de description' %>
    </div>
    <div data-event-target="end"><%= @event.end || 'pas de description' %>
    </div>
  </article>
</div>
