<%#
<div class="container">
  <h1>New event!!</h1>
  <div class="row">
    <div class="col-6">
    <%= render "form", event: @event %>
    <%# </div>
    <div class="col-6">
    <%= render "preview", event: @event %>
    <%# </div>
  </div>
</div> %>

<div class="container">

  <div class="row" data-controller="event">
    <div class="col-4">
      <%= render "form", post: @event %>
    </div>

    <div id="event-preview" class="col-6">
      <div class="card">
        <%= render "preview", post: @event %>
      </div>
    </div>
  </div>

</div>
