 <!-- tab module  yo matthieu j'ai copiecollé ton commit f085311 sur mon 540b863-->
<section class="ns-TabsModule" data-active-tab="A">

  <!-- horizontal scroll wrapper -->
  <div class="ns-ScrollWrapper">
    <!-- tab nav -->
    <nav class="ns-TabNav">
      <a href="#ns-TabPanelA" class="ns-TabNav_Link" data-tab="A"><span>Past events</span></a>
      <a href="#ns-TabPanelB" class="ns-TabNav_Link" data-tab="B"><span>Ongoing events</span></a>
      <a href="#ns-TabPanelC" class="ns-TabNav_Link" data-tab="C"><span>Forthcoming events</span></a>

      <span class="ns-TabNav_Indicator"></span>
    </nav><!-- /.ns-TabNav -->
  </div><!-- /.ns-ScrollWrapper -->

  <!-- tab panels -->
  <div class="ns-TabPanels">
    <div class="ns-TabPanel" id="ns-TabPanelA" data-tab-panel="A">
    <% @events.each do |event| %>
      <br>
        <td><%= event.title %></td>
        <td><%= event.description %></td> From
        <td><%= event.start%></td> To
        <td><%= event.end %></td>
      <br/>
    <% end %>
  </div></div>
    <div class="ns-TabPanel" id="ns-TabPanelB" data-tab-panel="B">
    <li>3v3nt7</li>
    <li>3v3nt8</li>
    <li>3v3nt9</li></div>
    <div class="ns-TabPanel" id="ns-TabPanelC" data-tab-panel="C">
    <li>3v3nt7</li>
    <li>3v3nt8</li>
    <li>3v3nt9</li></div>

  </div><!-- /.ns-TabPanels -->

</section><!-- /.ns-TabsModule -->
