<div class="home-video-wrapper">
  <%= video_tag "myeventintro.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="title-wrapper">
    <h1 class="home"> Welcome to re3v3nt </h1>
        <p class="toto">
          <%= link_to "Open an existing event"%><br>
          <%= link_to "Create  a new event", "/cars/new"%>
    </p>
  </div>
</div>
