
#event-preview{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.card {
  background-color: white;
  border: 0px;
}

#col-6_col-6_bg-white_rounded-4_p-3{
  margin-top: 10px;
}
