
.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0,0,0,0.5);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link{
 color: white;
}
.nav-link:hover{
  color: rgb(255, 56, 86);
  text-decoration: underline;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
}
