   <%= simple_form_for [event, activity] do |f| %>
          <%= f.input :description,
                placeholder: "Description",
                rows: 4,
                input_html: {
                  data: {
                    action: "keyup->event#previewDescription"
                  }
                } %>

            <label for="appt">Select a time:</label>
           <%= f.input :start %>


        <% end %>
